/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

/* Body */
body{
    background:#eef3f8;
    overflow-x:hidden;
}

/* Navbar */
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:18px 60px;

    background:rgba(11,31,58,0.95);

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    backdrop-filter:blur(10px);

    box-shadow:0 4px 15px rgba(0,0,0,0.2);
}

/* Logo */
.navbar h1{
    color:white;
    font-size:34px;
    font-weight:700;
}

/* Nav Links */
nav ul{
    display:flex;
    gap:30px;
    list-style:none;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-size:20px;
    font-weight: bold;
    transition:0.4s;
    position:relative;
}

/* Hover Effect */
nav ul li a:hover{
    color:rgb(128, 34, 34);
}

/* Hero Section */
.hero{
    height:50vh;

    background:
    linear-gradient(rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)),
    url("https://images.unsplash.com/photo-1526772662000-3f88f10405ff?q=80&w=1974&auto=format&fit=crop");

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;
}

/* Overlay Text */
.overlay{
    text-align:center;
    color:white;
}

.overlay h2{
    font-size:65px;
    margin-bottom:15px;
    text-shadow:3px 3px 10px rgba(0,0,0,0.5);
}

.overlay p{
    font-size:22px;
}

/* Contact Section */
.contact-section{
    display:flex;
    justify-content:center;
    align-items:flex-start;

    gap:50px;

    padding:80px 60px;

    flex-wrap:wrap;
}

/* Form Box */
.contact-form{
    background:white;

    padding:40px;

    width:500px;

    border-radius:20px;

    box-shadow:0 10px 30px rgba(0,0,0,0.12);
}

/* Form Heading */
.contact-form h3{
    font-size:30px;
    color:#ff6b00;
    margin-bottom:25px;
}

/* Input Fields */
.contact-form input,
.contact-form textarea{
    width:100%;

    padding:15px;

    margin-bottom:20px;

    border:none;

    border-radius:12px;

    background:#f3f5f9;

    font-size:16px;

    outline:none;

    transition:0.3s;
}

/* Input Focus */
.contact-form input:focus,
.contact-form textarea:focus{
    background:#fff;

    border:2px solid #ff6b00;
}

/* Button */
.contact-form button{
    width:100%;

    padding:15px;

    border:none;

    border-radius:12px;

    background:#ff6b00;

    color:white;

    font-size:18px;

    cursor:pointer;

    transition:0.4s;
}

/* Button Hover */
.contact-form button:hover{
    background:#e55d00;
    transform:translateY(-3px);
}

/* Contact Info */
.contact-info{
    background:white;

    padding:40px;

    width:350px;

    border-radius:20px;

    box-shadow:0 10px 30px rgba(0,0,0,0.12);
}

/* Info Heading */
.contact-info h3{
    font-size:30px;
    color:#0b1f3a;
    margin-bottom:25px;
}

/* Info Text */
.contact-info p{
    font-size:18px;
    margin-bottom:25px;
    color:#444;
}

/* Social Links */
.social-links{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.social-links a{
    text-decoration:none;

    color:white;

    background:#0b1f3a;

    padding:12px 18px;

    border-radius:12px;

    transition:0.4s;

    text-align:center;
}

/* Hover */
.social-links a:hover{
    background:#ff6b00;
    transform:translateX(5px);
}
/* Footer */
.footer {
    background:#0b1f3a;
    color: #ddd;
    padding: 3rem 2rem 1rem;
}

.footer-container {
    max-width: 1300px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2rem;
}

.footer-col h3, .footer-col h4 {
    color:  #f4a024;
    margin-bottom: 1rem;
}

.footer-col ul {
    list-style: none;
}

.footer-col ul li {
    margin-bottom: 0.5rem;
}

.footer-col ul li a {
    color: #ddd;
    text-decoration: none;
    transition: var(--transition);
}

.footer-col ul li a:hover {
    color: var(--saffron);
    padding-left: 5px;
}

.social-icons a {
    color: white;
    margin-right: 1rem;
    font-size: 1.4rem;
    transition: var(--transition);
    display: inline-block;
}

.social-icons a:hover {
    color: var(--saffron);
    transform: translateY(-3px);
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #2d3e4a;
    padding-top: 2rem;
    margin-top: 2rem;
    font-size: 0.85rem;
}

/* Social Links */
.footer-social{
    display:flex;

    justify-content:center;

    flex-wrap:wrap;

    gap:18px;
}

/* Social Buttons */
.footer-social a{
    text-decoration:none;

    color:white;

    background:#ff6b00;

    padding:12px 22px;

    border-radius:30px;

    transition:0.4s;

    font-size:15px;

    font-weight:500;
}

/* Hover Effect */
.footer-social a:hover{
    background:white;

    color:#0b1f3a;

    transform:translateY(-5px);
}

/* Responsive */
@media(max-width:768px){

    .navbar{
        flex-direction:column;
        gap:15px;
        padding:20px;
    }

    nav ul{
        flex-wrap:wrap;
        justify-content:center;
        gap:15px;
    }

    .overlay h2{
        font-size:42px;
    }

    .overlay p{
        font-size:16px;
        padding:0 20px;
    }

    .contact-form,
    .contact-info{
        width:100%;
    }

    .contact-section{
        padding:50px 20px;
    }
}